<div class="row" >

  <div class="col-md-12" style="margin-top:60px">
    <span class="badge"><%= @arguments.total_entries %> arguments found</span>
  </div>

  <div class="col-md-12">
    <%= will_paginate @arguments, renderer: BootstrapPagination::Rails %>
  </div>

</div>

<div class="row">
  
  <% @arguments.each do |argument| %>
    <div class="col-md-3 img col-sm-3 col-xs-6" style="text-align:center;">
   	  <%= link_to argument_path(argument) do %> 
        <div class="preview"> 
          <iframe  id="form" height="140" width="140" src= <%="arguments/#{argument.id}" %>> </iframe> 
        </div> 
      <% end %>

      <p class="arg-title" > 
        <%= argument.title %> 
      </p> 
    </div>
  <% end %>

</div>


<div class="row">
  <div class="col-md-12">
    <%= will_paginate @arguments, renderer: BootstrapPagination::Rails %>
  </div>
</div>




<%= link_to new_argument_path, :class => 'btn btn-success new-arg-fixedbutton' do %>
  <i class="glyphicon glyphicon-plus"> </i> Add Argument
<% end %>





