<!DOCTYPE html>
<html>
<head>
  <title>PhilApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <style type="text/css">
  	ul.nav a:hover, .navbar-header a:hover{ color: #bfbfbf !important;}
  	body {background: #efefef !important;}
  	.navbar-brand, ul.nav a{ color:white !important;}
  </style>

</head>
<body> 
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#4286F5; color:white">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Name Placeholder</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" >
                    <li>
                         <a href="/arguments?utf8=✓&search=epistemology">Epistemology</a>
                    </li>
                    <li>
                        <a href="/arguments?utf8=✓&search=logic">Logic</a>
                    </li>
                    <li>
                        <a href="/arguments?utf8=✓&search=metaphysics">Metaphyics</a>
                    </li>
                    <li>
                        <a href="/arguments?utf8=✓&search=ethics" >Ethics</a>
                    </li>
                    <li>
                        <a href="/arguments?utf8=✓&search=ancient" >Ancient</a>
                    </li>

                </ul>

              <%= form_tag(arguments_path, method: 'get', class: 'navbar-form navbar-right') do %>
                <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Search'  %>
                  <%= submit_tag "Submit", class: 'btn btn-default', :name => nil %>
                  <% end %>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<div class = "container" style="margin-top: 75px;">
		<div class = "row">
			<div class= "col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">

		<%= yield %>

			</div>
		</div>
	</div>

</body>

<%= debug(params) %>

</html>
